.primary {
  color: $primary;
}

.seen {
  color: $seen;
}

.toWatch {
  color: $toWatch;
}

.background-primary {
  background-color: $primary;
}

.background-seen {
  background-color: $seen;
}

.background-toWatch {
  background-color: $toWatch;
}
