<mat-card>
    <mat-card-header>
      <mat-card-title>{{ movie?.title }}</mat-card-title>
      <mat-button-toggle-group name="save" aria-label="Save Movie" multiple>
        <mat-button-toggle matTooltip="Add to Watched list" mat-icon-button aria-label="watched button" [checked]="isWatched" (change)="addWatched(movie?.id)">
          <mat-icon>check</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle matTooltip="Add to To Watch list" mat-icon-button aria-label="to watch button" [checked]="isToWatch" (change)="addToWatch(movie?.id)">
          <mat-icon>remove_red_eye</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-header>
    <img mat-card-image [src]="'http://image.tmdb.org/t/p/w185' + movie.poster_path" alt="Poster image">
    <mat-card-content>
      <p *ngIf="movie?.release_date"><ng-container i18n="@@movie.releaseDate">Release date:</ng-container> {{ movie?.release_date }}</p>
      <p *ngIf="movie?.runtime"><ng-container i18n="@@movie.duration">Duration:</ng-container> {{ movie?.runtime }} minutes</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button (click)="openDialog(movie)"><ng-container i18n="@@movie.moreDetails">More details</ng-container></button>
    </mat-card-actions>
</mat-card>
