.title {
  margin: 10px 0 20px 0;
}

.row-form {
  height:100%;
}

.form-search {
  width: 100%;
}

.field {
  margin-left: 10px;
}

.movie-search {
  width: 25%;
}

.genre-filter {
  width: 35%;
}

.year-filter {
  width: 15%;
}

.button-form {
  display: flex;
  width: 120px;
}
