<mat-toolbar>
  <mat-toolbar-row class="title">
    <h1>MovieFinder</h1>
  </mat-toolbar-row>

  <mat-toolbar-row class="row-form">
    <form class="form-search" #search="ngForm" (ngSubmit)="submitForm(search)">
      <mat-form-field class="movie-search">
        <input matInput placeholder="Search for a movie" [(ngModel)]="name" name="searchMovie" required>
      </mat-form-field>
      <mat-form-field class="field genre-filter" *ngIf="name">
        <mat-label>Genres selection</mat-label>
        <mat-select [(ngModel)]="filter1" name="filterGenres" multiple>
          <mat-option *ngFor="let genre of genresList$ | async" [value]="genre">{{genre.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="field year-filter" *ngIf="name">
        <input matInput type="number" placeholder="Movie released after..." [(ngModel)]="filterReleasedAfter" name="filterYearAfter">
      </mat-form-field>
      <mat-form-field class="field year-filter" *ngIf="name">
        <input matInput type="number" placeholder="Movie released before..." [(ngModel)]="filterReleasedBefore" name="filterYearBefore">
      </mat-form-field>
      <button mat-stroked-button [disabled]="name && name != '' ? false : true" class="button-form">Search</button>
    </form>
  </mat-toolbar-row>
</mat-toolbar>
<nav mat-tab-nav-bar>
  <a mat-tab-link
    routerLink="/list"
    routerLinkActive #rla1="routerLinkActive"
    [active]="rla1.isActive">
    Movies List
  </a>
  <a mat-tab-link
     *ngFor="let link of navLinks"
     [routerLink]="link.path"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{link.label}}
  </a>
</nav>
<router-outlet></router-outlet>
