<h1 mat-dialog-title>{{data?.title}}</h1>
<div mat-dialog-content>
  <div *ngIf="director$ | async as directors">
    <ng-container *ngIf="directors.length == 1; else multipleDirectors">
      <p>
        <b>Director</b> : {{ directors[0].name }}
      </p>
    </ng-container>
    <ng-template #multipleDirectors>
      <p>
        <b>Directors</b> :
      </p>
      <ul *ngFor="let director of directors">
        <li>{{director.name}}</li>
      </ul>
    </ng-template>
  </div>
  <div *ngIf="actors$ | async as actors">
    <p><b>Major actors</b> :</p>
    <ul *ngFor="let actor of actors">
      <li>{{actor.name}}</li>
    </ul>
  </div>
  <p><b>Synopsis</b> : {{data?.overview}}
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="" cdkFocusInitial>Close</button>
</div>
