<div
  *ngIf="data"
  [ngStyle]="{ 'background-image': 'url(&quot;' + 'http://image.tmdb.org/t/p/w1280' + data?.backdrop_path + '&quot;)' }" class="modal">
  <div class="modal-content">
    <div class="modal__header">
      <div class="modal__header-note">{{data?.vote_average}}</div>
      <h1 mat-dialog-title class="modal__header-title">{{data?.title}}</h1>
    </div>
    <div mat-dialog-content class="modal__body">
      <p>{{data?.overview}}</p>
      <hr class="modal__body-line">
      <ng-container *ngIf="directors.length == 1; else multipleDirectors">
        <h2 class="modal__body-infos-title"><ng-container i18n="@@informations.director">Director</ng-container>:</h2> {{ directors[0].name }}
      </ng-container>
      <ng-template #multipleDirectors>
        <h2 class="modal__body-title"><ng-container i18n="@@informations.directors">Directors</ng-container>:</h2>
        <ul *ngFor="let director of directors">
          <li>{{director.name}}</li>
        </ul>
      </ng-template>
      <h2 class="modal__body-title"><ng-container i18n="@@informations.actors">Major actors</ng-container>:</h2>
      <ul *ngFor="let actor of actors">
        <li>{{actor.name}}</li>
      </ul>
    </div>
  </div>
  <mat-button-toggle-group class="modal-content_toggle-group toggle-group" name="save" vertical="true" aria-label="Save Movie" multiple>
    <mat-button-toggle matTooltip="Add to Watched list" class="toggle-button button-seen" mat-icon-button aria-label="watched button" [checked]="isWatched$ | async" (change)="addWatched(data?.id)">
      <mat-icon>check</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle matTooltip="Add to To Watch list" class="toggle-button button-toWatch" mat-icon-button aria-label="to watch button" [checked]="isToWatch$ | async" (change)="addToWatch(data?.id)">
      <mat-icon>remove_red_eye</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
  <div mat-dialog-actions class="modal__close">
    <button mat-button [mat-dialog-close]="" cdkFocusInitial></button>
  </div>
</div>
