<div *ngIf="movieList$" class="cards-list">
  <ng-container *ngFor="let result of movieList$ | async">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ result?.title }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="'http://image.tmdb.org/t/p/w185' + result.poster_path" alt="Poster image">
      <mat-card-content>
        <p *ngIf="result?.release_date">Release date: {{ result?.release_date }}</p>
        <p *ngIf="result?.runtime">
          <ng-container i18n="@@to-watchlist.duration">Duration:</ng-container> {{ result?.runtime }} minutes</p>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>
