.modal {
  height: 100%;
  position: relative;
  background-size: cover;

  &-content {
    width: 643px;
    height: 782px;
    margin-top: 34px;
    margin-left: 104px;
    background: #00000080 0% 0% no-repeat padding-box;
    position: absolute;
    color: white;
    border-radius: 10px;
    overflow: auto;

    &_toggle-group {
      margin-left: 730px;
      margin-top: 345px;
    }
  }

  &-header {
    width: 100%;
    display: flex;
    flex-direction: column;

    &_note {
      margin: 20px;
      font-size: 48px;
      align-self: flex-end;
    }

    &_title {
      position: relative;
      font-size: 70px;
      margin-left: 42px !important;
      line-height: 72px;
    }
  }

  &-body {
    &_infos {
      position: relative;
      margin: 29px 72px !important;
      overflow: unset !important;

      &-line {
        margin: 36px 0;
      }

      &-title {
        font-weight: bold;
        font-size: 18px;
      }
    }
  }

  &--close {
    float: right;
    margin: 25px;
  }
}
